*
{   margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body
{   width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 233);
    
    
}
#mainbox
{   display: flex;
    height: 40vh;
    width: 50vw;
    border-radius: 10px;
    background-color: azure;
}
#right
{   display: flex;
    justify-content: space-around;
    flex-direction: column;
    height:40vh;
    width: 70%;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

}
#left
{   text-align: left;
    height: 40vh;
    width:30%;
    overflow: hidden;
    
}
#img1
{
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: left;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}
h1
{
    font-size: 3vh;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: hsl(217, 19%, 35%);
}
h2
{   font-size: 2vh;
    font-family: 'Manrope', sans-serif;
    color: hsl(212, 23%, 69%);
}
#footer
{   display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width:97%;
    
}
#img2
{
    border-radius: 50%;
    height: 6vh;
    width: auto;
    
    
}
f1
{
    color: hsl(217, 19%, 35%);
}
f2
{color: hsl(212, 23%, 69%);}
#ring

{
    display: flex;
    align-items: center;
   justify-content: center;
    border-radius: 50%;
    height: 4vh;
    width:4vh ;
    background-color: hsl(212, 23%, 80%);
    cursor: pointer;


}
#share
{
    height: 1.8vh;
    width: auto;
}
input[type="checkbox"]
{
    
  
  appearance: none;
}
input[type="checkbox"]:checked
{ 
    appearance: none;

}

#name
{   font-family: 'Manrope', sans-serif;
    width: 40%;
    font-size: 1.2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.media
{ 
    height: 2vh;
    width: auto;

}
#story
{   
    opacity: 0;
    transition: all 1s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:2vh;
    font-family: 'Manrope', sans-serif;
    color: hsl(212, 23%, 69%);
    background-color: hsl(217, 19%, 35%);
    right: 23.9%;
    top:51%;
    position: absolute;
    width:12vw;
    height: 5vh;
    border-radius: 12px;
    padding-inline: 1%;
    letter-spacing: 4px;
    z-index: 2;
}
#corner
{   
    z-index: -1;
    right: 40%;
    top: 50%;
    position: absolute;
    transform: rotate(45deg);
    width: 3vh;
    height: 3vh;
    background-color: hsl(217, 19%, 35%);
}


